.Resume{
    margin-left: 65px;
    min-height: 100vh;
    height: fit-content ;
    display: flex;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.resume_text{
    width: 50%;
    height: 100vh;
    display: hidden;
}

.resume_pdf_show{
    width: 50%;
    height: 100vh;
}

.resume_text .resume_part{
    width: 90%;
    height: 100px;
    background-color: aqua;
    margin-top: 10px;

    label{
        font-size: 200%;
    }
}
.resume_pdf_show{
    margin-top: 10px;
    box-shadow: 10px white;
}