.nav-bar{
    width:60px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    margin-bottom: 0px;
    padding: 0px;
    overflow: hidden;

    

    .logo{
        display: block;
        padding: 8px 0;
    }

    img{
        display: block;
        margin: 8px auto;
        width: 24px;
        height: auto; 

        &.sub-logo{
            width:50px;
        }
    }

    .option{
        display: block;
        margin-top: 15px;
        margin-left: 7px;
        margin-right: 7px;
        border: 1.2px solid rgb(255, 255, 255);
        background-color: #ffffff;
        border-radius: 3px ;
    }


}

.Navbar_shw_button{
    margin-top: 10px;
}

.max_navbar_height{
    background-color: #181818;
    height: 100vh;
    animation-name: sidebar_animation;
    animation-duration: 4s;

    @keyframes sidebar_animation{
        0% {background-color: aqua; }
        20% {background-color:rgb(72, 58, 86); }
        40% {background-color:rgb(100, 83, 60);}
        60% {background-color: brown; }
        80% {background-color: rgb(65, 104, 105); }
        100% {background-color: rgb(82, 91, 64) ; }
    }

    @media screen and (max-width: 800px){
        width: 80%;
        left: 0;

    }

}


.min_navbar_height{
    background-color: transparent;
    height: fit-content;
    left: -27px;

    @media screen and (max-width: 800px){
        // width: 80%;
        left: -27px;

    }
}
